        .nav-green {text-align: center; background-size: 500px ;   color:rgb(15, 15, 15);background-color:rgb(219, 136, 219)}
        .nav-button {font-size: xx-large    ;   border:none; display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
        .nav-img {width: 900px;}
        .section1 {margin-top: 20px; color:blue; text-align: center ; border: 0ex;}
        .img-left{float: left;margin-left: 60px; }
        .img-right{margin-left: 20px; }
        footer {display: inline-block;}
        .pro-img {width: 600px;}
        
        
        
        